In [12]:
import random
cores = ['red','blue','green']
print(random.shuffle(cores))
print(random.choice(cores))

None
blue

In [90]:
import random

ficheiro = open("ficheiro\lista-paises.csv","r", encoding="utf8")
lista_paises = []

for linha in ficheiro.readlines():
    lista_paises.append(linha.strip())
ficheiro.close()
    
random.shuffle(lista_paises)
print(*lista_paises)
print()
print(random.choice(lista_paises))

Singapura (ou Cingapura) Chile Líbano Noruega Hungria Portugal Zâmbia Ruanda Cazaquistão Butão Brasil Eslovênia Angola Luxemburgo Marrocos Guiana Reino Unido Israel Belize Tailândia São Cristóvão e Névis (ou São Cristóvão e Neves) Estados Unidos da América Bulgária Mianmar Afeganistão Vietnã Kosovo Uganda Madagascar Equador Sudão Mauritânia Bahamas Sudão do Sul Jordânia Guiné-Bissau Ossétia do Sul México Camarões Dinamarca República Centro-Africana Samoa Coreia do Norte Montenegro Guatemala Holanda Bielorrússia Burkina Faso Quênia Suécia Kiribati (ou Quiribati) República Árabe Saaraui Democrática Timor-Leste República do Congo El Salvador País de Gales Iraque Lesoto Armênia Eswatini Qatar (ou Catar) Nepal Argentina Chipre Espanha Peru Taiwan Canadá Venezuela Omã Eritreia Irlanda do Norte Albânia Uzbequistão Indonésia Gabão Gana Mongólia Palestina Colômbia Tchéquia (ou República Tcheca) Botswana Barbados Togo Mali Índia Áustria Tanzânia Maldivas Rússia Abecásia Paraguai Azerbaijão Malta Palau Eslováquia Namíbia Mônaco Djibouti (ou Djibuti) Suíça São Tomé e Príncipe Moldávia Quiribati (ou Kiribati) Costa do Marfim Bolívia Iêmen Malásia Grécia Bósnia Argélia Etiópia Filipinas Haiti Nigéria Níger Benim Egito Macedônia do Norte Escócia São Vicente e Granadinas Dominica Liechtenstein (ou Listenstaine) Jamaica Líbia Polônia Arábia Saudita Zimbábue República Tcheca (ou Tchéquia) República Dominicana Sri Lanka Sérvia Micronésia Guiné Burundi Turquia Tunísia Turcomenistão China Tonga República Turca de Chipre do Norte Suriname Islândia Estados Federados da Micronésia Austrália Nicarágua: Bangladesh Laos Somália Brunei Gâmbia Bahrein Papua-Nova Guiné Honduras Seychelles (ou Seicheles) França Senegal Libéria Alemanha Suazilândia (ou Eswatini, ou Essuatíni) Tajiquistão (ou Tadjiquistão) Irã (ou Irão) Antígua e Barbuda Tuvalu Granada Singapura Congo Vanuatu Irlanda Lituânia Comores Estônia Cuba Marshall Itália Malawi (ou Malauí) Geórgia Nova Zelândia Maurícia Croácia Ucrânia Quirguistão Panamá Síria República Democrática do Congo Andorra Inglaterra Kuwait Emirados Árabes Unidos Moçambique Países Baixos Japão Costa Rica San Marino (ou São Marinho) Serra Leoa Coreia do Sul Uruguai Paquistão Bélgica Santa Lúcia Chade Nauru Cabo Verde Salomão Catar (ou Qatar) África do Sul Guiné Equatorial Camboja Romênia Letônia Trinidad e Tobago Fiji Finlândia

Lesoto

In [3]:
import pandas as pd
aluno_1 = pd.Series({'Nome': 'João', 'Matemática': 6, 'Português': 7})
aluno_2 = pd.Series({'Nome': 'Maria', 'Matemática': 8, 'Português': 8})
aluno_3 = pd.Series({'Nome': 'Pedro', 'Matemática': 4, 'Português': 5.3})
aluno_4 = pd.Series({'Nome': 'Suzana', 'Matemática': 5.8, 'Português': 6.5})

df = pd.DataFrame([aluno_1, aluno_2, aluno_3, aluno_4])
df

     Nome  Matemática  Português
0    João         6.0        7.0
1   Maria         8.0        8.0
2   Pedro         4.0        5.3
3  Suzana         5.8        6.5

In [1]:
import pandas as pd

d = [["Mark", 12, 95],
     ["Jay", 11, 88],
     ["Jack", 14, 90]]

df = pd.DataFrame(d, columns = ['Name','Age','Percent'])
print(df)

   Name  Age  Percent
0  Mark   12       95
1   Jay   11       88
2  Jack   14       90

In [ ]:
quant_jogos_aleatorios = input('\nJogos Aleatórios: ')
while not quant_jogos_aleatorios.isnumeric():
    while int(quant_jogos_aleatorios) > 60:
            print('Não é possível gerar mais de 60 jogos!')
            break
    print('\n\033[31mOpção Incorreta.\033[m')
    quant_jogos_aleatorios = input('\nJogos Aleatórios: ')

In [2]:
from tabulate import tabulate

d = [ ["Mark", 12, 95],
     ["Jay", 11, 88],
     ["Jack", 14, 90]]

print(tabulate(d, headers=["Name", "Age", "Percent"]))

Name      Age    Percent
------  -----  ---------
Mark       12         95
Jay        11         88
Jack       14         90